.information {
    width: 50%;
    margin-left: 25%;
    padding: 50px;
    justify-content: space-around;
    background-color: rgba(156, 138, 236, 0.314);
    border-radius: 15px;
    text-align: left;
    font-size: 18px;
}

ul {
    margin-left: 15%;
}