.todo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(156, 138, 236, 0.314);
    border-radius: 15px;
    margin: auto;
    margin-bottom: 20px;
    width: 80%;

}

.todo input[type="checkbox"] {
    width: auto;
    margin-left: 2%;
}

.todo button {
    background-color: initial;
}

.todo p {
    margin-right: auto;
}

.todo h6 {
    margin: auto 5%;
}

.todos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 70%;
}

.wrapper {
    top: 5vh;
    left: 5vh;
    width: 90vw;
    height: 90vh;
    background-color: rgba(156, 138, 236, 0.314);
    position: absolute;
}

.todoEdit {
    width: 70%;
    height: 70%;
    margin: 10vh auto;
    background-color: white;
    padding: 20%;
    box-sizing: border-box;
    border-radius: 15px;
}

.addTodoButton,
.searchTodo,
.searchButton,
.selectTodo {
    margin: 10px;
    padding: 8px;
    font-size: 14px;
}

.selectTodo {
    margin-left: 80%;
    border-radius: 5px;
    color: rgb(56, 55, 54);
}

.addTodoButton {
    margin-left: 70%;
    position: absolute;
    width: 5vw;
    height: 6vh;
    border: 2px double orange;
    font-size: 25px;
    font-weight: bolder;
    padding: 3px;
    padding-bottom: 9px;
    justify-items: center;
}

.searchButton {
    width: 7vw;
}

input {
    width: 70%;
}